.cards-container {
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 54px;
  padding: 0px;

  &-loading {
    margin-top: 138px;
  }
}

@media (max-width: 1300px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
