.card {
  &-container {
    min-width: 276px;
    width: 100%;
    height: 490px;
    position: inherit;
    background: #15171f;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-bottom {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-image {
    display: flex;
    justify-content: center;
    & {
      img {
        width: 240px;
      }
    }
  }
  &-best-item,
  &-button {
    right: 0;
    position: inherit;
  }
  &-top {
    height: 3rem;
    padding: 8px 8px 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-bottom {
    padding: 15px 8px 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-new-item {
    span {
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      color: #15171f;
      padding: 0px 3px;
    }
  }
  &-name {
    margin-top: 41px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #f9f9f9;
  }
  &-description {
    margin-top: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.35);
  }
  &-price {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.015em;
    color: #f9f9f9;
  }
  &-button {
    &:hover {
      .card-button__inner {
        p {
          color: #15171f;
        }
      }
      .add-icon {
        path {
          fill: #15171f;
        }
      }
    }
  }
  &-button__inner {
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #ff4344;
    }
  }
}
